[user]
	name = zenntouyou-yabai
	email = yuki.sekiguchi@nahato.co.jp
[init]
	defaultBranch = main
[core]
	editor = code --wait
	quotepath = false
	excludesfile = /Users/sekiguchiyuki/.gitignore_global
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[color]
	ui = auto
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit -m
